.z-ui-markdown {
  font-family: Helvetica, arial, sans-serif;
  font-size: var(--font-size-base);
  line-height: 1.7;
  word-wrap: break-word;
}
.z-ui-markdown > :first-child {
  margin-top: 0 !important;
}

.z-ui-markdown > :last-child {
  margin-bottom: 0 !important;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a.absent {
  color: #c00;
}

a.anchor {
  display: block;
  padding-right: 6px;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

a.anchor:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.5;
  cursor: text;
  position: relative;
  margin-top: 0.5rem;
}

h1 .octicon-link,
h2 .octicon-link,
h3 .octicon-link,
h4 .octicon-link,
h5 .octicon-link,
h6 .octicon-link {
  display: none;
  color: #000;
}

h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
  text-decoration: none;
  line-height: 1;
  padding-left: 8px;
  margin-left: -30px;
  top: 15%;
}

h1:hover a.anchor .octicon-link,
h2:hover a.anchor .octicon-link,
h3:hover a.anchor .octicon-link,
h4:hover a.anchor .octicon-link,
h5:hover a.anchor .octicon-link,
h6:hover a.anchor .octicon-link {
  display: inline-block;
}

h1 tt,
h1 code,
h2 tt,
h2 code,
h3 tt,
h3 code,
h4 tt,
h4 code,
h5 tt,
h5 code,
h6 tt,
h6 code {
  font-size: inherit;
}

h1 {
  margin: 1rem 0;
  margin-top: 2rem;
  font-size: 20px;
  position: relative;
}

h2 {
  margin: 1rem 0;
  margin-top: 2rem;
  font-size: 18px;
  position: relative;
}

h1:after,
h2:after {
  position: absolute;
  content: "";
  border-bottom: 3px solid var(--mantine-color-default-border);
  width: 100%;
  transform: translateX(-50%);
  bottom: -10px;
  left: 50%;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 14px;
}

p,
blockquote,
ul,
ol,
dl,
table {
  margin: 0.5rem 0;
}

hr {
  background: transparent;
  border: 0 none;
  color: var(--mantine-color-text);
  height: 4px;
  margin: 0.5rem 0;
  padding: 0;
}

ul,
ol {
  padding-left: calc(0.5rem * 1.5);
}

ul.no-list,
ol.no-list {
  list-style-type: none;
  padding: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

dl {
  padding: 0;
}

dl dt {
  font-size: 14px;
  font-weight: 700;
  font-style: italic;
  margin-top: 0.5rem;
  padding: 0;
}

dl dd {
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;
}

blockquote {
  border-left: 4px solid var(--mantine-color-default-border);
  color: var(--mantine-color-dimmed);
  padding: 0 0.5rem;
}

blockquote > :first-child {
  margin-top: 0;
}

blockquote > :last-child {
  margin-bottom: 0;
}

table {
  margin: 0.5remtop 0;
  width: 100%;
  overflow: auto;
  display: block;
}

table th {
  font-weight: 700;
}

table th,
table td {
  border: 1px solid var(--table-border-color);
  padding: 0.5rem;
}

table tr {
  border-top: 1px solid var(--table-border-color);
  background-color: var(--table-striped-color);
}

table tr:nth-child(2n) {
  background-color: transparent;
}

.code-line {
  padding: 2px 0.2rem;
  margin: 0 0.2rem;
  border-radius: 10px;
  background: var(--mantine-color-body);
  display: inline;
}
img {
  max-width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

span.frame {
  display: block;
  overflow: hidden;
}

span.frame > span {
  border: 1px solid #ddd;
  display: block;
  float: left;
  overflow: hidden;
  width: auto;
  margin: 0.2rem 0 0;
  padding: 0.2rem;
}

span.frame span img {
  display: block;
  float: left;
}

span.frame span span {
  clear: both;
  color: #333;
  display: block;
  padding: 0.2rem 0 0;
}

span.align-center > span {
  display: block;
  overflow: hidden;
  text-align: center;
  margin: 0.5rem auto 0;
}

span.align-center span img {
  text-align: center;
  margin: 0 auto;
}

span.align-right > span {
  display: block;
  overflow: hidden;
  text-align: right;
  margin: 0.5rem 0 0;
}

span.align-right span img {
  text-align: right;
  margin: 0;
}

span.float-left {
  display: block;
  margin-right: 0.5rem;
  overflow: hidden;
  float: left;
}

span.float-left span {
  margin: 0.5rem 0 0;
}

span.float-right {
  display: block;
  margin-left: 0.5rem;
  overflow: hidden;
  float: right;
}

span.float-right > span {
  display: block;
  overflow: hidden;
  text-align: right;
  margin: 0.5rem auto 0;
}

code,
tt {
  background-color: var(--mantine-color-default-border);
  border-radius: 4px;
  margin: 0;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
}

code:before,
code:after,
tt:before,
tt:after {
  content: "\00a0";
  letter-spacing: -0.2em;
}

code br,
tt br {
  display: none;
}

del code {
  text-decoration: inherit;
  vertical-align: text-top;
}

pre div {
  border: 1px solid var(--mantine-color-default-border);
}

pre > code {
  white-space: pre;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
}
pre code.code-line {
  display: block;
  padding: 1em;
  font-size: 14px;
  margin: 0.5rem 0;
}
pre code,
pre tt {
  background-color: transparent;
  border: none;
  word-wrap: normal;
  max-width: initial;
  display: inline;
  overflow: initial;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: normal;
}

span.align-center,
span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}

.csv-data td,
body.csv-data th {
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
  padding: 0.2rem;
  text-align: left;
  line-height: 1;
}

.csv-data .blob-line-nums {
  line-height: 1;
  padding: 0.2rem 0;
  background: var(--mantine-color-body);
  border-top: 0;
  border: 0;
}

.csv-data .blob-line-nums span {
  margin-top: 3px;
}

.csv-data tr.line {
  border-top: 0;
}

.csv-data thead th {
  font-weight: bold;
  border-top: 0;
  background: var(--mantine-color-body);
}
