@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* .modal-body {
  background-color: transparent !important;
} */

.cl-internal-rx251b,
.cl-internal-1ee916m {
  margin: 0;
}

.cl-internal-b3fm6y,
.cl-internal-8nk38b {
  display: none;
}

.cl-organizationSwitcherTrigger {
  width: 100%;
  justify-content: space-between;
}

::-webkit-scrollbar {
  width: 0;
}

.HeaderSearch_header__1FzqK {
  margin: 0;
}

header {
  margin: 0;
}

.mantine-Accordion-content {
  padding: 0 !important;
  padding-left: 0.5rem !important;
}

.mantine-Accordion-control {
  padding-right: 8px !important;
}
