.modal {
  display: flex;
  flex-direction: row;
}

.leftContainer {
  width: 28%;
  height: 700px;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--mantine-color-default-border);
}

.rightContainer {
  width: 72%;
  height: 700px;
}
