.parent .chevron {
  &[data-rotate] {
    transform: rotate(90deg);
  }
  &[data-active] {
    background-color: aqua;
  }
  margin: 0.5rem 0.2rem;
}

.accordionControl[data-active] {
  background-color: #0000000f;
}

.parent {
  border: 0;
}

.parent * {
  border: 0;
}

.prompt {
  padding: 0.5rem;
  display: flex;
  &:hover {
    cursor: pointer;
    background: var(--mantine-primary-color-light);
  }
}
